@tailwind base;
@tailwind components;
@tailwind utilities;

/* For CSS variable related to font such as --font-primary, refer to ui/fonts/fonts.tsx 
  which helps with import optimization as it is done once and only its subsets are imported
  Open this for more detail: https://nextjs.org/docs/pages/building-your-application/optimizing/fonts#with-tailwind-css */

:root {
  --color-background: #ffffff;
  --color-text: #373643;
  --color-primary: #00ff99;
  --color-secondary: #82efc4;
  --color-accent: #f08186;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-primary: #00ff99;
  }
} */

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-primary);
}

a {
  @apply text-base md:text-lg lg:text-xl;
  font-family: var(--font-open-sans);
  font-weight: 400;
}

.nav-text {
  @apply border-b-2 border-transparent px-3 py-2 text-sm transition-all hover:border-b-[var(--color-accent)] md:text-base lg:text-lg;
  font-family: var(--font-open-sans);
  font-weight: 400;
}

.nav-text-mobile {
  @apply border-b-[1px] border-b-[var(--color-accent)] px-8 py-4 text-lg first:border-t-[1px] first:border-t-[var(--color-accent)];
  font-family: var(--font-open-sans);
  font-weight: 400;
}

/* Styling for ordered lists */
ol {
  @apply text-[12px] lg:text-[16px];

  font-family: var(--font-open-sans);
  font-weight: 400;
  line-height: 1.6;
}

/* Styling for list items */
li {
  @apply text-[12px] lg:text-[16px];

  font-family: var(--font-open-sans);
  font-weight: 400;
  line-height: 1.6;
}
